* {
    box-sizing: border-box;
    margin:0px;
    padding:0px; 
  }
  
  body {
    width: 100%;
    background-size: cover;
    
  }
  .rectangle{
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 90px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 360px;
    margin-left: 250px;
    }

    .carousel-caption h5{
        color: white;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: left;
    }
  .heading{
    text-align: center;
    font-weight: 700;
    padding-bottom: 15px;
    color:black;
    padding: 50px 0;
    font-size: 30px;
}

 .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:30px;
}

 .box-container .box1{
    border: 1.5px solid #FF1F1F;
    background: #F07F5C;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding:30px 20px;
}

 .box-container .box1 img{
    height: 30px;
    margin-top: 20px;
    margin-left: 163px;
}

 .box-container .box1, h3{
    color:#444;
    font-size: 22px;
    padding:9px 9px;
    color: white;
}

 .box-container .box1 p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
    text-align: center;
    padding: 3px;
    color: white;
}

.box-container .box1 .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    padding: 8px 25px;
}
.box-container .box2{
    border: 1.5px solid #0b8a00;
    background: #63c424;
    text-align: center;
    padding:30px 20px;
}

 .box-container .box2 img{
    height: 30px;
    margin-top: 20px;
   
}

 .box-container .box2, h3{
    
    font-size: 22px;
    padding:9px 9px;
    color: white;
}

 .box-container .box2 p{
    
    color: white;
    font-size: 15px;
    line-height: 1.8;
    text-align: center;
}

.box-container .box2 .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    padding: 8px 25px;
}


.box-container .box3{
    border: 1.5px solid #035197;
    background: #2290c2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding:30px 20px;
}

 .box-container .box3 img{
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

 .box-container .box3, h3{
    font-size: 22px;
    padding:10px 0;
    color: white;
    padding:9px 9px;
}

 .box-container .box3 p{
    color: white;
    font-size: 15px;
    line-height: 1.8;
}

.box-container .box3 .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    padding: 8px 25px;
}


@media (max-width:768px){
    .service{
        padding:20px;
    }
}
.service{
    height: 600px;
    overflow: hidden;
}
.box-container .box1 h3{
    text-align: center;
}
.contact-us .container{
    margin-left:450px;
    margin-top: -20px;
}
.contact-us{
    overflow: hidden;
}
.contact-us h1{
    display: flex;
    text-align: center;
    font-weight: 700;
    padding-bottom: 15px;
    color:black;
    padding: 50px 0;
    font-size: 30px;
}
.contact-message{
   margin-left: -200px;
}
.submit{
    width: 600px;
    height: 40px;
    color: white;
    background-color: #609ED8;
    border-radius: 0;
}
.error-message {
    color: red;
  }
  footer img {
    width: 125px;
  }
  
  footer p {
    color: #b3aeb5;
    font-size: 12px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  
  footer {
    padding-top: 30px;
    width: 1286px;
    margin-left: -100px;
    padding-bottom: 20px;
    background-color: black;
  }
  footer .icon{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px 10px;
  }